extends layout

block content
    .container
        h1.text-center Comentar en la publicación #{post.title}
        form(action=`/comment/${post.title}`, method="POST")
        .form-group
            label(for="comment") Comentario
            textarea.form-control(name="comment", placeholder="Escribe tu comentario aquí", required)
            button.btn.btn-primary.mt-3(type="submit") Enviar comentario
            a.btn.btn-secondary.mt-3(href='/') Volver a la lista de publicaciones
