extends layout

block content
    .container
        h1.text-center Crear Nueva Publicación
        form(action="/new", method="POST")
        .form-group
            label(for="tittle") Título
            input.form-control(type="text", name="tittle", placeholder="Escribe el título", required)
        .form-group
            label(for="content") Contenido
            textarea.form-control(name="content", placeholder="Escribe el contenido", required)
        .form-group
            label(for="author") Autor
            input.form-control(type="text", name="author", placeholder="Nombre del autor", required)
        .form-group
            label(for="category") Categoría
            input.form-control(type="text", name="category", placeholder="Categoría", required)
        button.btn.btn-success.mt-3(type="submit") Publicar
        a.btn.btn-secondary.mt-3(href="/") Cancelar
