extends layout

block content
    .container
        h1.text-center Perfil de Usuario
        p Nombre de usuario: #{user.username}
        form(action="/update-password", method="POST")
        .form-group
            label(for="password") Nueva Contrase침a
            input.form-control(type="password", name="password", placeholder="Escribe la nueva contrase침a", required)
        button.btn.btn-primary.mt-3(type="submit") Actualizar contrase침a
        a.btn.btn-secondary.mt-3(href='/') Volver a la p치gina principal
