extends layout

block content
    h1 Resultados de Búsqueda

    if posts.length > 0
        each post in posts
            .post
                h3= post.title
                p= post.content
                p Autor: #{post.author}
                a(href=`/posts/${post.id}`) Ver Publicación
    else
        p No se encontraron resultados para tu búsqueda.
